# MongoDB Connection String
# For local: mongodb://localhost:27017/cvify
# For Azure Cosmos DB: your cosmos connection string
MONGODB_URI=mongodb://localhost:27017/cvify

 Google Gemini 
GEMINI_API_KEY=AIzaSyAAg7VAzCzG6TYITgNL_cXcX4dOWk26a3E


